@import url(./css/normolise.css);
@import url(./css/container/container.css);
@import url(./css/header/logo.css);
@import url(./css/header/header.css);
@import url(./css/header/navlist.css);
@import url(./css/header/header__content.css);
@import url(./css/button.css);
@import url(./css/sections/works.css);
@import url(./css/sections/section-text.css);
@import url(./css/sections/story.css);
@import url(./css/sections/ourproduct.css);
@import url(./css/footer/footer.css);

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Variables */

:root {
  --main-bg-color: #fff;
  --black-title-color: #000000;
  --accent-bg-color: #01996d;
  --accent-bg-color-lite: rgba(1, 153, 109, 0.2);
  --dark-green: #245852;
  --title-bg-color: #292929;
  --line-bg-color: #d6d6d6;
  --paragraph-bg-color: #484848;
}

.main {
  font-family: "Lato";
  max-width: 1920px;
  margin: 0 auto;
}
