.header {
    max-width: 1920px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    min-height: 85px;
    justify-content: space-between;
    align-items: center;
}

.header__content-inner {
    margin-top: 11rem;
}
