.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 34.8125rem;
    padding: 0;
    margin-right: 6rem;
}

.nav__link {
    font-family: "Lato";
    text-decoration: none;
    color: var(--title-bg-color);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}