.section__title-upper {
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 4.9063rem;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.section__title {
    font-family: "Georgia", serif;
    font-weight: bold;
    text-align: left;
    font-size: 3.125rem;
    letter-spacing: 0;
    line-height: 157%;
    color: var(--accent-bg-color);
    margin: 0;
    padding-top: 0;
}

.section__description {
    text-align: left;
    line-height: 150%;
    font-size: 1.25rem;
    letter-spacing: 0;
    color: var(--paragraph-bg-color);
}