.container__story {
    display: flex;
    justify-content: space-between;
    max-width: 1506px;
    margin: 0 auto;
}

.story {
    max-height: 922px;
    background-color: var(--dark-green);
}
.story__container-left {
    margin: 19.375rem 0 16.25rem 0;
    text-align: left;
}
.story__container-right {
    margin: 14.3125rem 0 11rem 0;
    background-image: url(../../img/sections/Video.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.1rem;
    min-width: 56rem;
    min-height: 32.25rem;
}

.story__title {
    color: var(--main-bg-color);
}
.story__discription {
    margin: 33px 0 57px 0;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 157%;
    text-align: left;
    font-size: 1.5625rem;
    color: var(--main-bg-color);
}
