.works {
    max-width: 1413px;
    min-height: 1386px;
}

.works__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.8125rem;
}
.works__container {
    min-width: 45%;
    margin: 0 auto;
    margin-right: 6.625rem;
}
.works__cards {
    display: flex;
    justify-content: space-between;
    min-height: 58rem;
    margin-bottom: 3.3125rem;
}
.works__card-item {
    max-width: 24.375rem;
    min-height: 854px;
    max-height: 937px;
}
.works__card-center {
    margin-top: 18.125rem;
    max-height: 854px;
}
.works__card-right {
    margin-top: 3.8125rem;
    max-height: 856px;
    padding: 0;
}

.card__count {
    text-align: left;
    font-family: Georgia;
    font-weight: 400;
    font-size: 9.375rem;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--accent-bg-color-lite);
}

.card-title {
    position: absolute;
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--black-title-color);
    padding-left: 5.625rem;
    transform: translateY(-185%);
}
.card-description {
    font-family: Lato;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: 0;
    padding-right: 0.3125rem;
    padding-top: 0.9375rem;
}

.card__img {
    background-size: cover;
    min-height: 30.75rem;
    border-radius: 0.75rem;
    margin-top: 2.25rem;
}

.works__img-left {
    background-image: url(../../img/sections/1pesonalize.jpg);
    margin-top: 3.75rem;
}
.works__img-center {
    background-image: url(../../img/sections/2write.jpg);
}
.works__img-right {
    background-image: url(../../img/sections/3alivio.jpg);
    margin-top: 3rem;
}
